.topnav {
  overflow: hidden;
  background-color: ;
  text-align: center;
  background-color: white;

}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: #006600;
  text-align: center;
  padding: 5px 6px;
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: #006600;
  color: white;
}

  p {
    border: 2px solid green;
    margin: 5px 5px 5px 25px;
    background-color: white;
  }

  h1 {
    background-color: white;
    font-family: Comic Sans MS;
  }

  a {
    border: 2px solid green;
    margin: 5px 5px 5px 25px;
    background-color: white;
  }


  .main {
    float: left;
    width: 75%;
    padding: 0 40px;
  }

  .rigth {
    border: 2px;
    margin: 5px 5px 5px 25px;
    background-color: white;
    float: left;
    width: 60%;
    padding: 10px
  }

  table {
    background-color: white;
    border: 2px solid green;
  }


  img {
    float: right;
  }

  @media only screen and (max-width:620px) {

    /* For mobile phones: */
    .menu,
    .main,
    .right {
      width: 100%;
    }
